.inf-content{
    border:1px solid #DDDDDD;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
}			                                                      
body{
    color: #6F8BA4;
    margin-top:20px;
}
.theme-color {
    color: #fc5356;
}
.dark-color {
    color: #180d1b;
}
td {
    color: #20247b;
    font-weight: 600;
    width: 88px;
    margin: 0;
    position: relative;
  }
