<div class="container bootstrap snippets bootdey">
    <div class="panel-body inf-content">
        <div class="row">
            <div class="col-md-30">
                <h3 class="dark-color">Heloo " {{this.Value.name}} ", Welcome</h3>

                <div class="table-responsive">


                    <table class="table table-user-information">
                        <tbody>
                            <tr>
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-user  text-primary"></span>
                                        Name
                                    </strong>
                                </td>
                                <td class="text-primary">
                                    {{ this.Value.name }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-user  text-primary"></span>
                                        Designation
                                    </strong>
                                </td>
                                <td class="text-primary">
                                    {{ this.Value.designation }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-user  text-primary"></span>
                                        Gender
                                    </strong>
                                </td>
                                <td class="text-primary">
                                    {{ this.Value.gender }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-user  text-primary"></span>
                                        DOB
                                    </strong>
                                </td>
                                <td class="text-primary">
                                    {{ this.Value.dob}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-user  text-primary"></span>
                                        Email
                                    </strong>
                                </td>
                                <td class="text-primary">
                                    {{ this.Value.email }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-user  text-primary"></span>
                                        Phone
                                    </strong>
                                </td>
                                <td class="text-primary">
                                    {{ this.Value.phonenumber }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>